<!-- main/templates/layout/base.html -->
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    {% bootstrap_css %}
    <title>{% block title %}Микроблог{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="{% url 'main:index' %}">Микроблог</a>
        <div class="ml-auto">
            {% if user.is_authenticated %}
                <a href="{% url 'main:post_create' %}" class="btn btn-primary btn-sm ml-3">Написать пост</a>
                <a class="btn btn-outline-primary btn-sm ml-3" href="{% url 'main:profile' %}">Профиль</a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'main:login' %}">Вход</a>
                <a class="btn btn-outline-secondary btn-sm ml-1" href="{% url 'main:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </nav>

    <!-- Основной контент -->
    <div class="container">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Подвал -->
    <footer class="mt-5 pt-3 border-top text-center text-muted">
        <p>© 2025 Микроблог</p>
    </footer>

    {% bootstrap_javascript jquery='slim' %}
</body>
</html>